.AnimalCat {
  text-align: center;
  background-color: #cce8e0;
  padding: 1rem;
  width: 25%;
  border-radius: 1rem;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0px 10px 10px rgba(112, 112, 112, 0.5);
}

.AnimalCat:hover {
  transition: 0.2s;
  transform: scale(1.01);
}

.AnimalCat:active {
  transition: 0.1s;
  transform: scale(0.99);
  box-shadow: 0px 3px 8px rgba(112, 112, 112, 0.7);
}

.AnimalCat img {
  border-radius: 0.6rem;
}

.AnimalCat h2 {
  font-weight: 400;
}
